body {
	font-family: sans-serif;
	margin-left: -25px;
}

.octocat img{
	float:;
	width: 389px;

	border: 1px solid #cfcfcf;
	border-radius: 3px;
}
.authors{
	display: inline-block;
	float: right;
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0px;
}
.authors img{
	position: relative;
	width: 25px;
	float: right;
	margin: 0px -2px 5px 5px;
	border: none;
}

.octocat{
	float: left;
	margin: 11px;
	border-bottom: 1px solid #cfcfcf;

}

ul{
	list-style: none;
}


.image-number{
	font-weight: bold;
	font-size: smaller;
	float: left;
	color: #cfcfcf;
}


.image-caption{
	display: inline;
	float: right;
}
.image-caption a{
	font-weight:  bold;
	font-size: smaller;
	color: black;
	text-decoration: none;
}
.image-caption span{
	font-weight: bold;
	font-size: smaller;
	color: gray;
}

.image-number::before{
	content: "#";
	float: left;
}

.image-footer{
	position: relative;
	padding: 5px 0;
}

.image-footer::before{
	content: "";
	position: absolute;
	top: -5px;
	right: -5px;
	width: 0;
	height: 0;
	margin-right: 8px;
	border-style: solid;
	border-width: 8px 7px 0 7px;
	border-color: #cfcfcf  transparent transparent transparent;
	display: block;
}
